main {
    padding: 10px;
}


form {
    width: 70%;
    color: #a7fe2a;
    margin: auto;
    background-color: #700576;
    padding: 10px;
}

input, select {
    font-size: 18px;
    min-width: 400px;
    padding: 5px;
}

button {
    font-size: 14px;
    border: 0.1px solid #700576;
    padding: 5px;
    border-radius: 16px;
    background-color: #ffffff;
    &:hover{
        font-size: larger;
        transition: 0.2s;
        box-shadow: #700576 0px 5px 15px;
        color: #a322fa;
    }
}