/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/css/listagem.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
table {
    width: 80%;
    margin: auto;
    border: 1px solid #a322fa;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    border: 1px solid #a322fa;
}

td:last-child{
  display: flex;
  justify-content: center;
  button {
    margin: 5px;
    padding: 2px;
    color: #a322fa;
    border: none;
  }
}
