/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/css/home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.div-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid #ffffff;
    flex-direction: column;
     background-image: url('/letta.png') ;
     background-repeat: no-repeat;
    h1 {
        font-size: 5rem;
    }
}
